<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container my-4">

    <div class="row">
        <div class="col-lg-4 mb-3 mb-lg-0">
            <div class="card">
                <img th:src="@{/files/{fileId}(fileId=${film.fileId})}" class="card-img-top" alt="No image">
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="h3 mb-2" th:text="${film.name}">Название фильма</h1>

                    <div class="mb-3">
                        <span class="badge badge-secondary mr-2">
                          <span th:text="${film.year}">2026</span>
                        </span>
                                    <span class="badge badge-info mr-2">
                          <span th:text="${film.minimalAge}">16</span>+
                        </span>
                                    <span class="badge badge-dark">
                          <span th:text="${film.durationInMinutes}">120</span> мин
                        </span>
                    </div>

                    <p class="text-muted mb-3">
                        Жанр:
                        <span class="font-weight-bold" th:text="${film.genre.name}">Драма</span>
                    </p>

                    <h2 class="h5">Описание</h2>
                    <p class="mb-0" th:text="${film.description}">
                        Короткое описание фильма.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:include="fragments/footer :: footer" class="fixed-bottom"></footer>
</body>
</html>