<!DOCTYPE html>
<html lang="en">
<header th:insert="fragments/header :: header"></header>
<body>
<!-- Responsive navbar-->
<div th:replace="fragments/navigation :: navigation"></div>
<!-- Header-->
<header class="bg-white py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="text-center my-5">
                    <h1 class="display-5 font-weight-bolder text-dark mb-2">
                        Итоговая работа по блоку Wep. Сервис - Кинотеатр
                    </h1>

                    <p class="lead text-muted mb-4">
                        Добро пожаловать на сайт кинотеатра Job4j Cinema — здесь можно быстро посмотреть афишу, выбрать удобный сеанс и оформить билет онлайн.
                    </p>

                    <p class="lead text-muted mb-4">
                        Интерфейс и разделы представлены в учебных целях: чтобы показать базовую структуру веб‑приложения, навигацию и типовые элементы страницы (афиша, расписание, покупка билетов).
                    </p>

                    <div class="d-flex flex-column flex-sm-row justify-content-center">
                        <a class="btn btn-primary btn-lg px-4 mb-3 mb-sm-0 mr-sm-3"
                           href="https://vk.com/viktorbeznosov" target="_blank">
                            Ищи меня здесь
                        </a>
                        <a class="btn btn-outline-dark btn-lg px-4"
                           href="https://github.com/viktorbeznosov/job4j_cinema" target="_blank">
                            Проект на Git hub
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Footer-->
<footer th:include="fragments/footer :: footer" class="fixed-bottom"></footer>
</body>
</html>